$color-main: #800000;
$color-offwhite: #D19F9D;
$color-light: #A86464;
$color-dark: #574141;

.bg-main {
  background-color: $color-main;
}

.bg-offwhite {
  background-color: $color-offwhite;
}

.bg-light {
  background-color: $color-light;
}

.bg-dark {
  background-color: $color-dark;
}