@import "partials/screens";
@import "partials/colors";
@import "partials/fonts";

body {
  min-width: 320px;
}

* {
  color: $color-dark;
}

a {
  text-decoration: none;
}

.linkBtn {
  border: 1px solid $color-main;
  padding: 0.5rem;
  width: fit-content;
  background-color: white;
  @include customFont("Alegreya Sans", 400, normal, $color-main, 1.25rem);
  // color: $color-main;
  display: block;
  border-radius: 0.25rem;
  text-align: center;
  &:link {
    background-color: white;
    color: $color-main;
    border-color: $color-main;
  }
  &:visited {
    background-color: white;
    color: $color-main;
    border-color: $color-main;
  }
  &:hover {
    background-color: $color-offwhite;
  }
  &:active {
    background-color: $color-main;
    color: $color-offwhite;
    border-color: $color-offwhite;
  }
}

#title {
  padding: 1rem;
}

b {
  text-decoration: underline;
}

h1 {
  @include customFont("Alegreya SC", 500, italic, white, 4rem);
  text-align: center;
}

#headerSub {
  text-align: center;
  & * {
    @include customFont("Alegreya SC", 500, italic, white, 1rem);
  }
}

span.line {
  display: inline-block;
}

#headerNav {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @include sm {
    flex-direction: row;
    justify-content: space-between;
    background-color: blue;
  }
  & ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    @include sm {
      flex-direction: row;
    }
  }
}

.headList {
  margin-bottom: 1rem;
}

.headLink {
  @include customFont("Alegreya Sans", 400, normal, white, 1.5rem);
  &:hover {
    color: $color-offwhite;
  }
}

#footHead {
  background-color: $color-main;
  padding: 1rem 2rem;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footHeaderSub {
  margin-right: 1rem;
  & * {
    @include customFont("Alegreya SC", 500, italic, white, 1rem);
  }
}

#footArticle {
  background-color: $color-offwhite;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

#footTitle {
  @include customFont("Alegreya SC", 500, normal, $color-dark, 1.5rem);
}

#footText {
  @include customFont("Alegreya Sans", 400, normal, $color-dark, 1rem);
}

#footL {
}

#footR {
  padding-left: 2rem;
}

#footRNavHead {
  @include customFont("Alegreya SC", 500, normal, $color-dark, 1rem);
  text-align: right;
}

// #footerLinks > li {
//   text-align: right;
// }

.footLink {
  @include customFont("Alegreya Sans", 500, normal, $color-dark, 1rem);
  &:hover {
    text-decoration: underline;
  }
}

#footFoot {
  background-color: $color-offwhite;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  & * {
    @include customFont("Alegreya Sans", 500, normal, $color-dark, 1rem);
  }
}

#footCopyright {
  padding-right: 2rem;
}

#ppLink {

}

#ppModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
