@import "partials/screens";
@import "partials/colors";
@import "partials/fonts";

* {
  color: $color-dark;
}

a {
  text-decoration: none;
}

li > a {
  color: white;
  background-color: blue;
  // &:hover {
  //   background-color: red;
  // }
}

li > a:hover {
  background-color: red;
}

.linkBtn {
  border: 1px solid $color-main;
  padding: 0.5rem;
  width: fit-content;
  background-color: white;
  color: $color-main;
  // &:link:visited {
  //   background-color: white;
  //   color: $color-main;
  //   border-color: $color-main;
  // }
  &:hover {
    background-color: $color-offwhite;
  }
  // &:active {
  //   background-color: $color-main;
  //   color: $color-offwhite;
  //   border-color: $color-offwhite;
  // }
}

#title {
  padding: 1rem;
}

b {
  text-decoration: underline;
}

h1 {
  @include customFont("Alegreya SC", 500, italic, white, 4rem);
  text-align: center;
  
}

#headerSub {
  text-align: center;
  & * {
    @include customFont("Alegreya SC", 500, italic, white, 1rem);
  }
}

span.line {
  display: inline-block;
}

nav {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: orange;
  @include sm {
    flex-direction: row;
    justify-content: space-between;
    background-color: blue;
  }
  // @include md {
  //   flex-direction: row;
  //   background-color: red;
  // }
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  a {

  }
}