@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;1,400;1,500&family=Alegreya+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
.bg-main {
  background-color: #800000; }

.bg-offwhite {
  background-color: #D19F9D; }

.bg-light {
  background-color: #A86464; }

.bg-dark {
  background-color: #574141; }

body {
  min-width: 320px; }

* {
  color: #574141; }

a {
  text-decoration: none; }

li > a {
  color: white;
  background-color: blue;
  display: block; }

li > a:hover {
  background-color: red; }

.linkBtn {
  border: 1px solid #800000;
  padding: 0.5rem;
  width: fit-content;
  background-color: white;
  color: #800000;
  display: block;
  border-radius: .25rem; }

.linkBtn:link {
  background-color: white;
  color: #800000;
  border-color: #800000; }

.linkBtn:visited {
  background-color: white;
  color: #800000;
  border-color: #800000; }

.linkBtn:hover {
  background-color: #D19F9D; }

.linkBtn:active {
  background-color: #800000;
  color: #D19F9D;
  border-color: #D19F9D; }

#title {
  padding: 1rem; }

b {
  text-decoration: underline; }

h1 {
  font-family: "Alegreya SC", serif;
  font-weight: 500;
  font-style: italic;
  color: white;
  font-size: 4rem;
  text-align: center; }

#headerSub {
  text-align: center; }

#headerSub * {
  font-family: "Alegreya SC", serif;
  font-weight: 500;
  font-style: italic;
  color: white;
  font-size: 1rem; }

span.line {
  display: inline-block; }

nav {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: orange; }

@media (min-width: 576px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    background-color: blue; } }

ul {
  display: flex;
  justify-content: space-between; }
